@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "AllCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count == 0)
{
    <text>No one Customer to list.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customer</th>
        </tr>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(@customer.Name, "Details/" + customer.Id)</td>
            </tr>
        }
    </table>
}

